.body{background-color: #f2f7f5; margin: 0px; padding: 0px; }

.headerparent{ display: flex; flex-wrap: wrap; flex-direction: row; }

.logo{width: 150px;}

.natgeologo{ height: 80px; padding-top: 43px; padding-left: 195px; }

.discoverylogo{ height: 60px; padding-top: 53px; padding-left: 90px; }

.bbclogo{ height: 80px; padding-top: 43px; padding-left: 105px; }

.vr{ height: 70px; margin-left: 30px;}

.navbar{ display: flex; flex-wrap: wrap; flex-direction: row; align-items:center; }

.homepage{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: #00473e; font-size: large;}

.hr{height: 25px;}

.one{padding-left: 50px; }

.two{ padding-right: 38px;}

.line{text-decoration: none;}

.homepage:hover{ color: #faae2b;}

.partners{ margin-left: 580px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: medium; padding-top: 0px; color: #f2f7f5; display: flex; flex-direction: row; flex-wrap: wrap;}

.partnersparent{ background-color: #00473e; padding:10px 10px; flex-wrap: wrap; display: flex; flex-direction: row; }

.searchbar{ margin-left: 273px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: medium ; text-align: center; border: solid 2px  #00473e; color:#00473e; width: 100px; }

.searchbar:hover{cursor: pointer; border: solid #faae2b 2px;}

.main{ display: flex; flex-wrap: wrap; flex-direction: row; justify-content: center;}

.whale{ width: 600px; height: 400px; margin-right: 19px; display: block;}

.forest{width: 280px; height: 400px; display: block;}

.content{ display: flex; flex-direction: row; flex-wrap: wrap;}

.whaleparagraph{ margin-left: 190px; margin-top: -80px;  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: x-large; color: #f2f7f5; display: block;}

.forestparagraph{ font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: x-large; color: #f2f7f5; margin-left: 90px;  margin-top: -105px;display: block; }

.blogs{ display: flex; flex-direction: row; flex-wrap: wrap; width: fit-content; }

.blogimg{ width: 450px; display: block; margin-left: 160px; height: 280px; }

.blogheadparent{ display: flex; flex-wrap: wrap; flex-direction: row; width: fit-content; margin-left: 645px; margin-top: -280px;}
.bloghead{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: x-large; color:#00473e;}

.bloginfoparent{ display: flex; flex-wrap: wrap; flex-direction: column; height: 200px; width: 411px; text-align: justify; margin-left: 650px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: medium; margin-top: 6px;}

.bloginfo{color: #475d5b; }

.read{ color: #faae2b;}

.anchor{ text-decoration: none;}
 
.read:hover{  color: #fa5246}

.bloghead:hover{  color:#faae2b}

.blogimg:hover{filter: blur(1px);}

.categoryheadlineparent{ background-color: #00473e; display: flex; flex-direction: row; flex-wrap: wrap; }

.categoryheadline{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  color: #f2f7f5; padding-left: 450px; padding-top: 10px; padding-bottom: 10px;}

.categorycontainer{ display: flex; justify-content: space-evenly;}

.climatechange{width: 200px; height: 150px; display: flex; flex-direction: column;  border: solid 2px #faae2b; background-color:#00473e;}

.categoryimage{ width: 200px;border-bottom: solid 2px #faae2b;height: 110px; }

.categorytext{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align: center; margin-top: 5px; color:#f2f7f5; padding-top: 5px;}

.anc{ text-decoration: none;}

.climatechange:hover{ border:#00332c 2px solid;}

.commentparent{display: flex; flex-wrap: wrap; flex-direction: column; width: 440px; margin-left: 33px; height: 300px;}
.title{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: x-large; color: #00332c;background-color:pink ; }
.commentbox{ padding-bottom: 200px; margin-top: 5px; color: #00332c; }
.commentbtn{display: block; width: fit-content; padding: 10px 20px; color: #00332c; margin-top: 7px; cursor: pointer;}
.commentbtn:hover{background-color: #faae2b;}

.verticalline{display: flex; flex-direction: column; flex-wrap: wrap;  margin-top: -267px;}
.length{height: 203px;}

.emailparent{background-color:pink ;display: flex; flex-wrap: wrap; flex-direction: column; width: 440px; margin-left: 740px; height: 300px; margin-top: -250px;}