.body{background-color: #f2f7f5; margin: 0px; padding: 0px; }

.headerparent{ display: flex; flex-wrap: wrap; flex-direction: row; }

.logo{width: 130px; margin-left: 30px;}

.natgeologo{ height: 80px; padding-top: 43px; padding-left: 150px; }

.discoverylogo{ height: 60px; padding-top: 53px; padding-left: 90px; }

.bbclogo{ height: 80px; padding-top: 43px; padding-left: 105px; }

.vr{ height: 70px; margin-left: 30px;}

.navbar{ display: flex; flex-wrap: wrap; flex-direction: row; align-items:center; background-color:#00473e;}

.homepage{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:#f2f7f5; font-size: large;}

.hr{height: 25px;}

.one{padding-left: 50px; }

.two{ padding-right: 38px;}

.line{text-decoration: none;}

.homepage:hover{ color: #faae2b;}

.partners{ margin-left: 500px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: medium; padding-top: 9px; color: #f2f7f5; display: flex; flex-direction: row; flex-wrap: wrap;}

.partnersparent{ background-color: #00473e; padding:10px 10px; flex-wrap: wrap; display: flex; flex-direction: row; }

.searchbar{ margin-left: 290px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: medium ; border: solid 1px grey;  width: 170px; height: 35px; padding-left: 10px;}

.search{height: 25px;margin-left: -35px; margin-top: 7px;}
.search:hover{cursor: pointer;}

.searchbar:hover{cursor: pointer; background-color: #faae2b;}

.main{ display: flex; flex-wrap: wrap; flex-direction: row; justify-content: center;}

.whale{ width: 600px; height: 400px; margin-right: 19px; display: block;}


.forest{width: 280px; height: 400px; display: block;}


.content{ display: flex; flex-direction: row; flex-wrap: wrap;}

.whaleparagraph{ margin-left: 210px; margin-top: -80px;  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: x-large; color:#f2f7f5; display: block;}
.whaleparagraph:hover{ color: #faae2b;transform: scale(1.01);}

.forestparagraph{ font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: x-large; color: #f2f7f5; margin-left: 90px;  margin-top: -105px;display: block; }
.forestparagraph:hover{color: #faae2b;transform: scale(1.01);}

.blogs{ display: flex; flex-direction: row; flex-wrap: wrap; width: fit-content; }

.blogimg{ width: 450px; display: block; margin-left: 180px; height: 280px; }
.blogimg:hover{transform: scale(1.03);}

.blogheadparent{ display: flex; flex-wrap: wrap; flex-direction: row; width: fit-content; margin-left: 665px; margin-top: -280px;}
.bloghead{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: x-large; color:#00473e;}

.bloginfoparent{ display: flex; flex-wrap: wrap; flex-direction: column; height: 200px; width: 411px; text-align: justify; margin-left: 665px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: medium; margin-top: 6px;}

.bloginfo{color: #475d5b; }

.read{ color: #faae2b;}

.anchor{ text-decoration: none;}
 
.read:hover{  color: #fa5246}

.bloghead:hover{  color:#faae2b}

.categoryheadlineparent{ background-color: #00473e; display: flex; flex-direction: row; flex-wrap: wrap; }

.categoryheadline{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  color: #f2f7f5; padding-left: 450px; padding-top: 10px; padding-bottom: 10px;}

.categorycontainer{ display: flex; justify-content: space-evenly;}

.climatechange{width: 200px; height: 150px; display: flex; flex-direction: column;  border: solid 2px #faae2b; background-color:#00473e;}

.categoryimage{ width: 200px;border-bottom: solid 2px #faae2b;height: 110px; }

.categorytext{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align: center; margin-top: 5px; color:#f2f7f5; padding-top: 5px;}

.anc{ text-decoration: none;}

.climatechange:hover{ border:#00332c 2px solid; }

.commentparent{display: flex; flex-wrap: wrap; flex-direction: column; width: 440px; margin-left: 39px; height: 226px;}
.title{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: x-large; color: black;}
.commentbox{ padding-bottom: 93.5px; margin-top: 5px; color: #00332c; margin-top: 11px; border: solid 1px grey; padding-left: 10px; padding-top: 10px;}
.commentbtn{padding-bottom: 15px; border: solid 1px grey; padding-top: 15px; margin-top: 20px; width: 110px; text-align: center;}
.commentbtn:hover{background-color: #faae2b; cursor: pointer;}

.verticalline{display: flex; flex-direction: column; flex-wrap: wrap;  margin-top: -220px;}
.length{height: 203px;}

.emailparent{display: flex; flex-wrap: wrap; flex-direction: column; width: 440px; margin-left: 771px; height: 226px; margin-top: -226.5px;}
.emailtitle{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: x-large; color:black;}
.emailpara{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgb(40, 37, 37);}
.mailbox{padding-bottom: 15px; border: solid 1px grey; padding-top: 15px; padding-left: 10px; font-size: large; color: grey; margin-top: 10px;}
.subscribebtn{padding-bottom: 15px; border: solid 1px grey; padding-top: 15px; margin-top: 20px; width: 110px; text-align: center;}
.subscribebtn:hover{background-color: #faae2b; cursor: pointer;}

.masterparent{margin-top: -80px; margin-left: 100px;}
.master{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: xx-large; color: #f2f7f5; padding-left: 80px;}
.master:hover{ color: #00332c;} 
.video{width: 1256.5px;}

.followparent{background-color: #00473e; display: flex; flex-direction: row; flex-wrap: wrap; }
.follow{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  color: #f2f7f5; padding-left: 550px; padding-top: 10px; padding-bottom: 10px;}

.followcontainer{ flex-wrap: wrap; flex-direction: row; display: flex; justify-content: space-around;}
.followimages{width: 50px; cursor: pointer;}
.followimages:hover{margin-top: -3px;}

.footerparent{background-color:#00332c; display: flex; flex-direction: row; flex-wrap: wrap; height: 230px; }
.footer{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: #f2f7f5; padding-left: 395px; padding-top: 10px; cursor: pointer;}

.footerlogo{height: 40px; padding-top: 37px; padding-left: 10px;}

.name{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: #f2f7f5;  font-size: x-large; margin-top: 43px; margin-left: 5px;}

.bio{margin-top: 83px; margin-left: 5px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: #f2f7f5; margin-left: -285px;}

.socialparent{display: flex; flex-direction: row; flex-wrap: wrap; margin-top: 130px; margin-left: -280px;}

.socialmediaicon{height: 25px; padding: 10px; cursor: pointer;}
.copyright{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: #f2f7f5; margin-top: 195px; margin-left: -210px;}
.socialmediaicon:hover{transform: scale(1.2);}

.quicklinks{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: #f2f7f5;  font-size: larger; margin-top: 43px; margin-left: -30px;}

.links{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: #f2f7f5; margin-top: 83px; margin-left: -105px; font-size: small; cursor: pointer;}
.links:hover{color: #faae2b;}

.contact{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: #f2f7f5;  font-size: larger; margin-top: 43px;margin-left: 80px; }

.contactparagraph{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: #f2f7f5;margin-top: 83px; font-size: small; cursor: pointer;  margin-left: -82px;}
.contactparagraph:hover{color:#faae2b ;}

.playstore{height: 140px; margin-left: 70px; margin-top: 23px; cursor: pointer;}