body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f7f5;
}

header {
    background:  #f2f7f5;
    color: #00473e;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.global-awareness-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.global-awareness-img {
    height: 500px;
    width: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow effect */
    border-radius: 10px; /* Optional: Add rounded corners */
}