body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f7f5;
}

header {
    background:  #f2f7f5;
    color: #00473e;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header h2{
    font-size: 2.5rem;
}

.global-awareness-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.global-awareness-img {
    width: 100%;
    height: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow effect */
    border-radius: 10px; /* Optional: Add rounded corners */
}

p {
    width: 80%;
    margin: 20px auto;
    text-align: justify;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for the paragraph background */
    line-height: 1.8;
    font-size: 1.1em;
}