body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #00473e; 
    background-color: #f2f7f5; 
}
header {
    background: #f2f7f5; 
    color: #00473e; 
    padding: 10px 20px;
    border-bottom: #A6B1E1 3px solid; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo img {
    height: 100px;
    width: 200px;
    margin-right: 20px;
}
header nav {
    display: flex;
    gap: 10px;
}

header nav a button {
    background: #00473e; 
    color: #f2f7f5; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;

}
header nav a button:hover {
    background-color: #475d5b; 
    color:#f2f7f5 ; 
}

header .search-bar {
    display: flex;
    align-items: center;
}